.about {
    text-align: center;

    .about-header {

        img {
            max-width: 100px;
        }

        .about-header-description {
            color: $secondary-color;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 0;

        }
    }
}